html {
    font-family: 'NotoSerif', Georgia, 'Times New Roman', Times, serif;
}

body, p, ul{
    margin: 0;
}

.logo {
    font-family: 'Chakra', Arial, Helvetica, sans-serif;
}

a {
    color: rgb(139, 211, 255);
}

h1, h2, h3, h4 ,h5, h6 {
    text-align: center;
}


section {
    padding: 2rem 0;
}

section h2 {
    color: rgba(6, 33, 56);
    font-size: 3rem;
    text-shadow: 0.3125rem 0.1875rem rgb(139, 211, 255);  
    margin: 0;
}

ul {
    padding: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-align: center;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

/* HEADER AND NAVBAR */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.3125rem;
    width: 100%;
    color: rgb(139, 211, 255);
    background-color: transparent;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

header a:hover {
    font-size: 1.25rem;
    color: rgb(139, 211, 255);
}

header .logo {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

header .logo img {
    width: auto;
    height: 1.5rem;
    margin-right: 0.8rem;
}

header nav {
    padding-right: 2rem;
}
header ul li{
    display: inline;
    list-style: none;
    padding: 0.75rem;
}

/* END OF HEADER AND NAVBAR */

/* MAIN */
/* END OF MAIN */

/* BANNER SECTION */

.banner {
    width: 100%;
    height: 49.6875rem;
    padding: 5.75rem 0;
    background: linear-gradient(179deg, rgba(20, 116, 195, 1) 0%  , rgba(116, 193, 243, 1) 45% );
    justify-content: center;
    margin: auto;
}

.banner .img-wrapper {
    background-image: url(../images/market-building.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  center;
    height: 100%;
    display: flex;
}

.slogan-box {
    background: linear-gradient(125deg, rgba(6, 33, 56, 0.93) 25%, 70%, rgba(86, 143 , 175, 0.93));
    border: 0.3125rem solid rgba(6, 33, 56, 0.93);
    width: 15rem;
    padding: 1rem;
    margin: 2rem;
    color: rgb(139, 211, 255);
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
    box-shadow: 0 0 1rem rgba(6, 33, 56, 1);
}

.slogan-content i{
    font-size: 1.5rem;
}

.slogan-content button {
    width: 100%;
    border-radius: 0.5rem;
    font-family: 'NotoSerif';
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 0.125rem solid white;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.slogan-content button:hover {
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.125rem solid transparent;
    box-shadow: 0 0 .5rem rgb(139, 211, 255);
}

.slogan-content p {
    margin-bottom: 1rem;
    text-shadow: 0.3125rem 0.3125rem 0.125rem rgba(6, 33, 56, 0.93);
}


/* END OF BANNER SECTION */

/* POKEBALLS SECTION */

 #pokeballs {
     background-color: rgb(238, 214, 178);
     background: url(../images/pokeball-interior-bg.png) no-repeat center;
     background-size: 100%;
     background-attachment: fixed;
 }
 
 #pokeballs h3 {
    font-size: 1.75rem;
    color: white;
 }

 #pokeballs .products {
    padding-top: 5rem;
 }

 #pokeballs .products img {
     width: 7.5rem;
     height: 7.5rem;
 }

 #pokeballs .premier ul{
     display: flex;
     display: wrap;
     justify-content: center;
     list-style: none;
 }

 #pokeballs .products > li {
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem 2rem 0 2rem;
    margin: 1rem;
    flex-grow: 1;
    box-shadow: 0 0.25rem 0.5rem rgba(6, 33, 56, 0.8);
 }

 #pokeballs .products > li:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(6, 33, 56, 1);
    cursor: pointer;
 }

 #pokeballs .premier {
    border-radius: 0.25rem;
    background-color: rgba(6, 33, 56, 0.8);
    padding: 2rem 2rem 0 2rem;
    margin: 1rem;
    flex-grow: 1;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
 }

 #pokeballs .premier:hover {
    box-shadow: 0 0.75rem 0.5rem rgba(6, 33, 56, 1);
    cursor: pointer;
 }

 #pokeballs .products > li:hover img {
    animation: wiggle 1s ease-in-out;
 }
 #pokeballs .products > li:hover::after img {
    animation: anti-wiggle 1s ease-in-out;
 }

 #pokeballs .premier:hover img {
    animation: wiggle 1s ease-in-out;
 }
 #pokeballs .premier:hover::after img {
    animation: anti-wiggle 1s ease-in-out;
 }

 #pokeballs .premier li{
     display: flex;
     justify-content: center;
     color: white;
     text-align: center;
 }

 #pokeballs .premier a {
     color: rgba(168, 49, 43, 1);
 }

/* END OF POKEBALL SECTION */

/* ITEMS SECTION */

#items {
    background-color:rgba(242, 247, 242, 1);
}

#items .products img {
    width: 4.125rem;
    height: 5.625rem;
}

#items .product-container {
    height: 100%;
}

#items .products {
    padding-top: 5rem;
    justify-content: space-between;
}

#items .products > li{
    width: 200px;
    border-radius: 0.25rem;
    background: rgba(242, 247, 242, 0.5);
    padding: 2rem 2rem 0 2rem;
    margin: 1rem;
    flex-grow: 1;
    box-shadow: 0 4px 8px rgba(6, 33, 56, 0.8);
}

#items .products > li:hover{
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(6, 33, 56, 1);
}


/* END OF ITEMS SECTION */


/* TESTIMONIALS SECTION */

#testimonials h2 {
    margin-bottom: 4rem;
}

.testimonial-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.testimonial-wrapper .qoutes {
    margin-bottom: 4rem;
    height: 32.8125rem;
}

.testimonial-wrapper .rounded-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.testimonial-wrapper .rounded-img > img {
    width: 100%;
    height: auto;
}

.testimonial-wrapper h3 {
    margin-bottom: 0;
    color: rgba(6, 33, 56);
}
.testimonial-wrapper h4 {
    margin-top: 0;
    color: #A69CAC;
}

.testimonial-wrapper p {
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    color: #0E79B2;
    font-weight: bold;
    font-style: italic;
}

/* END OF TESTIMONIALS SECTION */

/* LOCATIONS SECTION */
#locations {
    background: url(../images/map-bg.jpg) no-repeat center;
    background-size: cover;
}


/* END OF LOCATIONS SECTION */

/* PRODUCT CONTAINER AND PRODUCTS CLASS */



/* END OF PRODUCT CONTAINER AND PRODUCTS CLASS*/

/* CSS wiggle effect for pokeballs*/
@keyframes wiggle {
    20% {
      transform: rotate(7deg);
    }
    
    40% {
      transform: rotate(-14deg);
    }
    
    60% {
      transform: rotate(4deg);
    }
    
    80% {
      transform: rotate(-2deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes anti-wiggle {
    20% {
      transform: translateX(4px) rotate(-7deg);
    }
    
    40% {
      transform: translateX(-8px)  rotate(14deg);
    }
    
    60% {
      transform: translateX(2px)  rotate(-4deg);
    }
    
    80% {
      transform: translateX(-1px)  rotate(2deg);
    }
    
    100% {
      transform: translateX(0px) rotate(0deg);
    }
  }
/* END OF CSS wiggle effect for pokeballs*/